name: k8s

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  e2e-ipapi:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Kubernetes and deploy container
        uses: ./.github/actions/k8s

      - name: Run e2e tests
        uses: ./.github/actions/e2e
        with:
          filename: .e2e/gotest/skaffold/skaffold-e2e.yaml


  e2e-ipbase:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Kubernetes and deploy container
        uses: ./.github/actions/k8s

      - name: Clone mock repository
        uses: actions/checkout@v4
        with:
          repository: lescactus/geolocationmock-go
          ref: master
          path: mock

      - name: Build and run mock server
        uses: hiberbee/github-action-skaffold@1.27.0
        with:
          command: run
          working-directory: mock

      - name: Set mock server provider to ipbase
        run: |
          kubectl patch deployments.apps geolocationmock-go \
            --type=json \
            --patch '[{"op":"replace","path":"/spec/template/spec/containers/0/args","value":["-provider","ipbase","-e2e"]}]'

          kubectl set env deploy/geolocation-go \
            -e GEOLOCATION_API=ipbase \
            -e IPBASE_BASE_URL=http://geolocationmock-go/ \
            -e IPBASE_API_KEY="fakeapikey"
        
          kubectl rollout status deployment geolocation-go
          kubectl rollout status deployment geolocationmock-go

      - name: Run e2e tests
        uses: ./.github/actions/e2e
        with:
          filename: .e2e/gotest/skaffold/skaffold-e2e.yaml

  e2e-withmetrics:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Kubernetes and deploy container
        uses: ./.github/actions/k8s

      - name: Enable publishing metrics
        run: |
          kubectl set env deploy/geolocation-go \
            -e PROMETHEUS=true

          kubectl rollout status deployment geolocation-go

      - name: Run e2e tests
        uses: ./.github/actions/e2e
        with:
          filename: .e2e/gotest/skaffold/skaffold-e2e.withmetrics.yaml

  e2e-withoutmetrics:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Kubernetes and deploy container
        uses: ./.github/actions/k8s

      - name: Disable publishing metrics
        run: |
          kubectl set env deploy/geolocation-go \
            -e PROMETHEUS=false

          kubectl rollout status deployment geolocation-go

      - name: Run e2e tests
        uses: ./.github/actions/e2e
        with:
          filename: .e2e/gotest/skaffold/skaffold-e2e.withoutmetrics.yaml
  
  e2e-withpprof:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Kubernetes and deploy container
        uses: ./.github/actions/k8s

      - name: Enable pprof
        run: |
          kubectl set env deploy/geolocation-go \
            -e PPROF=true

          kubectl rollout status deployment geolocation-go

      - name: Run e2e tests
        uses: ./.github/actions/e2e
        with:
          filename: .e2e/gotest/skaffold/skaffold-e2e.withpprof.yaml

  e2e-withoutpprof:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Kubernetes and deploy container
        uses: ./.github/actions/k8s

      - name: Disable pprof
        run: |
          kubectl set env deploy/geolocation-go \
            -e PPROF=false

          kubectl rollout status deployment geolocation-go

      - name: Run e2e tests
        uses: ./.github/actions/e2e
        with:
          filename: .e2e/gotest/skaffold/skaffold-e2e.withoutpprof.yaml